<!DOCTYPE html>
<html xmlns:th:"http://www.thymeleaf.org">
      <head>
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul>
            <li><a th:href="@{/variables/string/}+'Hola Jhonatan'">/variables/string/Hola Jhonatan</a></li>
            <li><a th:href="@{/variables/string/}+'Que tal Jhonatan'">/variables/string/hola jhonQue tal Jhonatan</a></li>
            <li><a th:href="@{/variables/string/}+'Saludos Jhonatan' + '/' +7">/variables/string/hola mundo/7</a></li>
        </ul>

    </body>
</html>
